<nav class="navbar navbar-light bg-light px-3">
  <span class="navbar-brand mb-0 h1">WatchHobo</span>
  <div class="right-side">
    <%# <span><%= link_to "Add Flat", new_flat_path, class: "btn btn-outline-primary", type: "button" %>
  </div>
</nav>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.hdqwalls.com/wallpapers/final-fantasy-xv-artwork-h5.jpg);">
  <div class="container">
      <h1>Tired of looking for movies with the same atmosphere?</h1>
      <p>You don't need to worry. We'll compile it for you.</p>
      <%= link_to "Add a list", new_list_path, class: "btn btn-secondary btn-lg rounded-pill" %></a>
  </div>
</div>
<div class = "container">
  <h1>My List (<%=  @lists.count %>)</h1>
  <div class = "fake-row" style="display: flex; align-items: center; justify-content: space-between">
    <% @lists.each do |list| %>
      <div class="card" style="width: 18rem; margin: 5px">
      <% if list.photo.key.attached? %>
        <%= cl_image_tag list.photo.key, class: "card-img-top" %>
      <% else %>
        <img src="https://images.hdqwalls.com/wallpapers/final-fantasy-xv-artwork-h5.jpg" alt="" class="card-img-top">
      <% end %>
        <div class="card-header">
          <span><h5 class="card-title"><%= link_to list.name, list_path(list) %></span>
          <span><%= link_to "🗑", list_path(list), method: :delete %></h5></span>
        </div>
      </div>

    <% end %>
  </div>
</div>
