<nav class="navbar navbar-light bg-light px-3">
  <span class="navbar-brand mb-0 h1">WatchHobo</span>
  <div class="right-side">
    <%# <span><%= link_to "Add Flat", new_flat_path, class: "btn btn-outline-primary", type: "button" %>
    <button type="button" class="btn btn-primary">
  There are currently <span class="badge badge-light"><%=  @lists.count %></span> lists
</button>
  </div>
</nav>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.hdqwalls.com/wallpapers/final-fantasy-xv-artwork-h5.jpg);">
  <div class="container">
      <h1>Tired of looking for movies with the same atmosphere?</h1>
      <p>Honestly, same. But, we'll compile it for you.</p>
      <%= link_to "Add a list", new_list_path, class: "btn btn-secondary btn-lg rounded-pill" %></a>
  </div>
</div>
<div class = "main-container">

  <div class = "cards" style="align-items: center; justify-content: space-between">
    <% @lists.each do |list| %>
      <% if list.photo.attached? %>
      <div class="card" style="background-image: url('<%= cl_image_path list.photo.key %>')">
      <% else %>
        <img src="https://images.hdqwalls.com/wallpapers/final-fantasy-xv-artwork-h5.jpg" alt="" class="card-img-top">
      <% end %>
          <p><%= link_to list.name, list_path(list) %><%= link_to "🗑", list_path(list), method: :delete %></p>
      </div>
    <% end %>
  </div>
</div>
<footer class="footer">
      <div class="outer-footer">
        <h4>This website is made with resentment at LeWagon ♡</h4>
      </div>
</footer>
