<nav class="navbar navbar-light bg-light px-3">
  <span class="navbar-brand mb-0 h1">WatchHobo</span>
  <div>
    <%# <span><%= link_to "Add Flat", new_flat_path, class: "btn btn-outline-primary", type: "button" %>
    <ul class="d-flex justify-content-between mb-0 ", style="list-style-type: none;">
      <li><%= link_to "Create a Bookmark", new_list_bookmark_path(@list), class: "btn btn-outline-primary", type: "button" %></li>
      <li><%= link_to "Back to list", lists_path, class: "btn btn-outline-primary", type: "button"%></li>
    </ul>
  </div>
</nav>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @list.photo.key, height: 300, crop: :fill %>')">
  <div class="container">
      <h1><%= @list.name %></h1>
  </div>
</div>
<div class="container">
  <% if @bookmarks.any?%>
  <div class = "d-flex justify-content-between">
      <% @bookmarks.each do |bookmark| %>
      <% movie = Movie.find(bookmark.movie_id)%>
      <div class="card" style="width: 18rem">
        <img class="card-img-top" src="<%= movie.poster_url %>" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= movie.title %></h5>
          <p class="card-text"><%= movie.overview %></p>
          <p><%= movie.rating %> ⭐️</p>
          <h4>Comments:</h4>
            <p><%= bookmark.comment %></p>
          <%= link_to "Delete Bookmark", list_bookmark_path(@list, bookmark), method: :delete, class: "btn btn-outline-danger", data: { confirm: "Are you sure?" } %>
        </div>
        </div>
      <% end %>
      <% else %>
      <h1> <%= "No Bookmarks in this garden yet, add some!"%></h1>
  </div>
  <% end %>
</div>
